.menuItem {
    padding: 7px;
}

.enviromentImportant {
    padding: 7px;
    color: #ff4f4a;
    font-weight: bold;
    /*background-color: #3c3f41;*/
}

.enviroment {
    padding: 7px;
    color: #3482b9;
}

.menuItem:hover {
    background-color: #CCDDDD;
}

.enviromentImportant:hover {
    background-color: #CCDDDD;
}

.enviroment:hover {
    background-color: #CCDDDD;
}

.enviromentTopLabel {
    padding-top: 3px;
    color: #3482b9;
}

.enviromentTopLabelImportant {
    padding-top: 3px;
    color: #ff4f4a;
}
