.menuItem {
    padding: 4px;
}

.environmentImportant {
    padding: 4px;
    color: #ff4f4a;
    font-weight: bold;
    /*background-color: #3c3f41;*/
}

.environment {
    padding: 4px;
    color: #3482b9;
}

.menuItem:hover {
    background-color: #CCDDDD;
}

.environmentImportant:hover {
    background-color: #CCDDDD;
}

.environment:hover {
    background-color: #CCDDDD;
}

.environmentTopLabel {
    padding-top: 3px;
    color: #3482b9;
}

.environmentTopLabelImportant {
    padding-top: 3px;
    color: #ff4f4a;
}
